.fl{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.fondo{
    display: flex;
    flex-direction: column;
    height:100vh;
    margin: 0;
    background-image: url('../Imagenes/FondoLogin.jpg');
    background-size: cover
    
}


.redondear{
    border-radius: 26px 26px 26px 26px;
-moz-border-radius: 26px 26px 26px 26px;
-webkit-border-radius: 26px 26px 26px 26px;
border: 0px solid #000000;
}

.redondeara{
    border-radius: 26px 26px 0px 0px;
    -moz-border-radius: 26px 26px 0px 0px;
    -webkit-border-radius: 26px 26px 0px 0px;
    border: 0px solid #000000;
}